@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.ttf') format('truetype');
       font-weight: 300
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype');
       font-weight: 400
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
       font-weight: 600
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype');
       font-weight: 800
}

body, html {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  margin: 0;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 15px;
}

h2 {
  color: black;
  margin-top: 0;
}

h3 {
  color: gray;
  margin-top: 0;
}

p {
  color: black;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

small {
  color: black;
  font-weight: 300;
  margin-top: 0;
}

img {
  width: 100%;
}

a,
a i {
  color: black;
  font-weight: 500;
}

a:hover {
  color: #888;
  cursor: pointer;
  text-decoration: none;
}

#contacticons a,
#contacticons a:visited {
  color: #333;
}

#contacticons a,
#contacticons a:hover,
#contacticons a:visited {
  text-decoration: none;
}

#contacticons i:hover {
  color: #888;
}
