@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.ttf') format('truetype');
       font-weight: 300
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype');
       font-weight: 400
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
       font-weight: 600
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype');
       font-weight: 800
}

* {
    font-family:'Montserrat',sans-serif
}

body,html {
    margin:0;
    padding:0;
    background:#fff
}

h1 {
  color: black;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  color: black;
  margin-top: 0px;
}

h3 {
  color: gray;
  margin-top: 0px;
}

p {
  color: black;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 15px;
}

small {
  color: black;
  font-weight: 300;
  margin-top: 0px;
}

img {
width: 100%;
}

#contacticons a, a:hover, a:visited {
  text-decoration: none;
}

#contacticons a:hover {
  color: #888;
}

#contacticons a:visited {
  color: #333;
}

#contacticons a {
  color: #333;
}

#about a, #about a i {
  color: black;
  font-weight: 500;
}

#about a:hover {
  color: #888;
}