/* DESKTOP SIZE CSS*/
@media (min-width: 992px) {
	h1 {
	  color: black;
	  font-weight: 800;
	  margin-top: 20px;
	  margin-bottom: 10px;
	}

	#about {
		margin: 0 auto;
	  margin-top: 30vh;
	  width: 675px;
	}

	#about-photo {
		display: inline-block;
		vertical-align: top;
		width: 200px;
	}
	
	#about-bio {
		margin-left: 30px;
		display: inline-block;
		vertical-align: top;
		width: 430px; /* 675px-200px */
	}

	#contacticons i {
	  font-size: 23px;
	  padding-right: 7px;
	}

	br.mobile {
	  display: none; 
	}
}
/* END OF DESKTOP SIZE CSS*/
