/* MOBILE SIZE CSS*/
@media (max-width: 991px) {





h1.pagetitle {
    font-size:3.5em
}

.tlt{
visibility: hidden;

}
p.pagetitle {
    font-weight:300;
    font-size:1.2em;
    text-align:left
}

h2.pagetitle {
    text-align:left;
    font-size:1.6em;
    font-weight:400
}

p.pagetitle.left {
    font-weight:300;
    font-size:1.2em;
    text-align:left
}

p.pagetitle.right {
    font-weight:300;
    font-size:1.2em;
    text-align:right
}

.zoom {
    display:inline-block;
    position:relative
}

.zoom img {
    display:block
}

.zoom img::selection {
    background-color:transparent
}

#what {
    position:fixed
}

h5.pagetitle {
    text-align:center;
    padding-top:30px;
    font-weight:300;
    font-size:4em;
    margin:0
}

#mainwindow h1 {
    text-align:center;
    padding-top:30px;
    font-weight:300;
    font-size:3em;
    margin:0
}

#mainwindow h3 {
    text-align:center;
    padding-top:0px;
    font-weight:300;
    font-size:3.5em;
    margin:0
}


#subheader {


font-weight:300; font-size:1.7em; text-align: center;


}



#mainwindow h4 {
    text-align:left;
    font-weight:300
}




#projecttitle {

    font-size:4em;text-align: center;
}






#navbarright {
    display:none
}

.covercaption {


padding-left:15px; text-align:center;
padding-bottom: 20px; overflow:hidden ; padding-left: 0px; padding-right: 0px;

}

.zoomdesktoponly {
    visibility:hidden;
}

#mobilenav {
    display:inline-block;
    position:fixed;
    margin:0;
    top:0;
    right:0;
    width:100%;
    padding:0;
    z-index:150
}

.throbber{
padding-right: 0px;
padding-bottom: 0vh;
}

.square {
    height:7em;
    padding-top:15px;
    width:7em;
    border-style:none;
    margin:0 auto
}

.projectformatd {
    margin-left:0;
    margin-right:0;
    overflow:hidden;
    text-align:center;
    padding-bottom:20px
}

.headerimage {
    max-height:300px;
    margin:0 auto;
    vertical-align:middle;
    overflow:hidden
}

.projectimgfloatleft {
    max-height:300px;
    margin:0 auto;
    float:none;
    vertical-align:middle;
    overflow:hidden;
    max-width: 100%;
}

.projectimgfloatright {
    max-height:300px;
    margin:0 auto;
    float:none;
    vertical-align:middle;
    overflow:hidden;
    max-width: 100%;
}

.squareinsquare {
    height:100%;
    width:100%;
    padding-top:2%;
    padding-bottom:2%;
    padding-right:2%;
    padding-left:2%
}

.textinsquare {
    text-align:center;
    line-height:.4em;
    text-color:rgba(100,100,100,0.3)
}

.nodeco {
    color:#000;
    text-decoration:none;
    font-weight:500
}

.iam {
    height:auto;
    width:100%;
    z-index:1300;
    opacity:1;
    background:#fff;
    color:#000;
    font-size:1.15em;
    padding-top:10vh;
    padding-right:3vw;
    padding-left:3vw;
    font-weight:300;
    text-align:center;
    position:fixed;
    visibility:visible;
    right:0;
    top:0;
    bottom:0
}

#rotatehalf {
    z-index:500;
    position:fixed;
    font-size:4.5em;
position:fixed;
left:50%; margin-left: -16px; z-index: 900;
}

.appearonscroll {
    opacity:1
}

#mobilenav  {
    visibility: hidden;
}

#mobilenav ul {

    margin-bottom:0;
    margin-top:0;
    padding:0
}

.projectline a {
    font-size:.85em;
    text-decoration:none
}

a:active {
    font-weight:800;
}


.centermobileonly {
    text-align:center
}

.mobilenavicon {
    font-size:2.8em;
    margin-left:12px;
    margin-right:12px
}

#openclose {
    background-color:rgba(255,255,255,0.97);
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:none;
    color:#181818;
    font-size:1em;
    text-align:center;
    list-style:none;
    cursor:pointer
}

.line {
    font-weight:500;
    font-size:1.35em;
    margin-bottom:20px;
    padding-top:20px;
    border-bottom:1px solid #fcfcfc;
    color:#181818;
    text-align:center;
    list-style:none;
    cursor:pointer
}

.line:first-child {
    padding-top:20px
}

.line:last-child {
    padding-bottom:5px
}

.projectline {
    margin-bottom:10px;
    padding-top:10px;
    border-bottom:none;
    text-align:center;
    list-style:none;
    cursor:pointer
}

.projectline:first-child {
    padding-top:10px
}

.projectline:last-child {
    padding-bottom:0
}

#mainwindow {
    background-color:#fff;
    display:block;
    vertical-align:top;
    padding:0;
    margin:0;
    right:0;
    height:100vh
}


.fundologyimage {


  position: absolute;
  bottom: 0;
  float: left;
  left: 10%;
  max-height: none;
  width: 80%;
  padding-bottom: 20px;



}


.medcapimage {


 





  position: inherit;
  bottom: 0;
  float: inherit;
  left: 32%;
  max-height: 80%;
  max-width: 80%;
  padding-bottom: 20px;
  padding-top: 50px;

}


.epicimage{

position: relative;
  bottom: 0;
  /* left: 25%; */
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 50px;

}


.barliftimage{

position: relative;
  bottom: 0;
  /* left: 25%; */
  max-height: 70%;
  max-width: 70%;
  padding-bottom: 0px;
  padding-top: 70px;

}


.relativewhenmobile{

position: relative;
height: 50vh;


}

}

/* END OF MOBILE SIZE CSS*/