/* DESKTOP SIZE CSS*/
@media (min-width: 992px) {
#navbarright {
    display:inline-block
}
.zoomdesktoponly {
    visibility:visible;
}

.throbber{
padding-right: 300px;
padding-bottom: 50vh;
}
#mobilenav {
    display:none
}

.covercaption {


padding-left:15px; text-align:center;
padding-bottom: 0px

}

#navigation{

    
}


.appearonscroll {
    opacity:0
}

.centermobileonly {
    text-align:left
}

.projectimgfloatleft {
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.projectimgfloatright {
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.projectformatd {
    margin-left:0;
    margin-right:0;
    overflow:hidden
}

.square {
    height:9vw;
    width:9vw;
    border-style:none;
    border-width:1px
}

.headerimage {
    max-height:300px;
    margin:0 auto;
    float:right;
    overflow:hidden
}

.squareinsquare {
    height:100%;
    width:100%;
    padding-top:2%;
    padding-bottom:2%;
    padding-right:2%;
    padding-left:2%
}

.textinsquare {
    text-align:center;
    line-height:.4em;
    text-color:rgba(100,100,100,0.3)
}

.iam {
    height:auto;
    width:auto;
    z-index:1000;
    opacity:1;
    background:#fff;
    color:#000;
    font-size:1.5em;
    padding-top:10vh;
    font-weight:300;
    text-align:center;
    position:fixed;
    visibility:visible;
    left:300px;
    right:0;
    top:0;
    bottom:0
}

#mainwindow {
    background-color:#fff;
    display:block;
    padding-top:0;
    padding-bottom:0;
    padding-right:0;
    padding-left:310px;
    margin:0;
    right:0;
    height:100vh
}

.name h1 {
    line-height:100%;
    margin-bottom:0;
    margin-top:0;
    font-size:4.5em;
    font-weight:100;
    text-align:right;
    color:#363636;
    list-style-type:none
}

.name h2 {
    line-height:100%;
    margin-bottom:0;
    margin-top:0;
    font-size:1.3em;
    font-weight:100;
    text-align:right;
    color:#363636;
    list-style-type:none
}

.name h3 {
    line-height:100%;
    margin-top:0;
    margin-bottom:30px;
    font-size:1.3em;
    font-weight:100;
    text-align:right;
    color:#363636;
    list-style-type:none
}

.entypo3em {
    font-family:'EntypoRegular';
    font-size:2.8em;
    line-height:20px
}

a {
    text-decoration:none!important
}

a:hover {
    text-decoration:none!important
}

a:before {
    text-decoration:none!important
}

a:after {
    text-decoration:none!important
}

#navbarright {
    width:300px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    padding:30px;
    margin:0;
    background-color:#fff;
    z-index:100
}

#navbarright li {
    text-align:right;
    list-style-type:none
}

#navbarright ul {
    text-align:right;
    padding:0;
    margin:0;
    font-size:1em;
    font-weight:400
}

#navbarright ul ul {
    text-align:right;
    padding-top:10px;
    padding-right:0;
    padding-left:0;
    padding-bottom:0;
    margin:0;
    font-size:.8em;
    font-weight:300
}

#navbarright ul li {
    padding-top:5px;
    padding-right:0;
    padding-left:0;
    padding-bottom:0
}

.active {
    font-weight:400;
    color:#363636;
    text-decoration:none!important
}

.inactive {
    color:#7D7D7D
}

.activemain {
    color:#363636
}

.inactivemain {
    color:#7D7D7D
}

.activetitle {
    color:#363636
}

.inactivetitle {
    color:#7D7D7D
}

.active:hover {
    color:#000;
    text-decoration:none!important
}

.inactive:hover {
    color:#000;
    text-decoration:none!important
}

#lastlist {
    margin-bottom:25px
}

.desktopcontactmenu ul li span {
    font-size:2.4em;
    color:#8D8D8D;
    padding-left:2px;
    padding-right:2px;
    padding-top:5px
}

.projectmargins {
    padding-left:20px;
    padding-right:60px;
    padding-bottom:0;
    padding-top:0
}

}

/* END OF DESKTOP SIZE CSS*/