/* MOBILE SIZE CSS*/
@media (max-width: 991px) {
#navbarright {
    display:none
}

.covercaption {


padding-left:15px; text-align:center;
padding-bottom: 20px

}

.zoomdesktoponly {
    visibility:hidden;
}

#mobilenav {
    display:inline-block;
    position:fixed;
    margin:0;
    top:0;
    right:0;
    width:100%;
    padding:0;
    z-index:150
}

.throbber{
padding-right: 0px;
padding-bottom: 0vh;
}

.square {
    height:7em;
    padding-top:15px;
    width:7em;
    border-style:none;
    margin:0 auto
}

.projectformatd {
    margin-left:0;
    margin-right:0;
    overflow:hidden;
    text-align:center;
    padding-bottom:20px
}

.headerimage {
    max-height:300px;
    margin:0 auto;
    vertical-align:middle;
    overflow:hidden
}

.projectimgfloatleft {
    max-height:300px;
    margin:0 auto;
    float:none;
    vertical-align:middle;
    overflow:hidden
}

.projectimgfloatright {
    max-height:300px;
    margin:0 auto;
    float:none;
    vertical-align:middle;
    overflow:hidden
}

.squareinsquare {
    height:100%;
    width:100%;
    padding-top:2%;
    padding-bottom:2%;
    padding-right:2%;
    padding-left:2%
}

.textinsquare {
    text-align:center;
    line-height:.4em;
    text-color:rgba(100,100,100,0.3)
}

.nodeco {
    color:#000;
    text-decoration:none;
    font-weight:500
}

.iam {
    height:auto;
    width:100%;
    z-index:1300;
    opacity:1;
    background:#fff;
    color:#000;
    font-size:1.15em;
    padding-top:10vh;
    padding-right:3vw;
    padding-left:3vw;
    font-weight:300;
    text-align:center;
    position:fixed;
    visibility:visible;
    right:0;
    top:0;
    bottom:0
}

#rotatehalf {
    z-index:500;
    position:fixed;
    font-size:4.5em;
position:fixed;
left:50%; margin-left: -16px; z-index: 900;
}

.appearonscroll {
    opacity:.5
}

#mobilenav  {
    visibility: hidden;
}

#mobilenav ul {

    margin-bottom:0;
    margin-top:0;
    padding:0
}

.projectline a {
    font-size:.85em;
    text-decoration:none
}

a:active {
    font-weight:800;
}


.centermobileonly {
    text-align:center
}

.mobilenavicon {
    font-size:2.8em;
    margin-left:12px;
    margin-right:12px
}

#openclose {
    background-color:rgba(255,255,255,0.97);
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:none;
    color:#181818;
    font-size:1em;
    text-align:center;
    list-style:none;
    cursor:pointer
}

.line {
    font-weight:500;
    font-size:1.35em;
    margin-bottom:20px;
    padding-top:20px;
    border-bottom:1px solid #fcfcfc;
    color:#181818;
    text-align:center;
    list-style:none;
    cursor:pointer
}

.line:first-child {
    padding-top:20px
}

.line:last-child {
    padding-bottom:5px
}

.projectline {
    margin-bottom:10px;
    padding-top:10px;
    border-bottom:none;
    text-align:center;
    list-style:none;
    cursor:pointer
}

.projectline:first-child {
    padding-top:10px
}

.projectline:last-child {
    padding-bottom:0
}

#mainwindow {
    background-color:#fff;
    display:block;
    vertical-align:top;
    padding:0;
    margin:0;
    right:0;
    height:100vh
}


}

/* END OF MOBILE SIZE CSS*/